services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  gcs-emulator:
    image: fsouza/fake-gcs-server:latest
    command:
      - "-backend"
      - "filesystem"
      - "-filesystem-root"
      - "/data"
      - "-scheme"
      - "http"
      - "-host"
      - "0.0.0.0"
      - "-port"
      - "4443"
    ports:
      - "4443:4443"
    volumes:
      - gcs_data:/data
volumes:
  mongo-data:
  gcs_data:
